<hello name="{{ name }}"></hello>
<h3>NgModule</h3>
<p>
  Two steps:
</p>
<ol>
<li>Use NgModule to register what we'll inject - provider</li>
<li>Use decorators (generally on a constructor) to specify what we're ine injecting</li>
<span>By doing these two steps Angular will manage creating the injector and resolving the dependencies</span>
</ol>

<div> <p
    *ngIf="userName"
    class="welcome">
    Welcome: {{ userName }}!
</p> <button
    (click)="signIn()"
    class="ui button"
    >Sign In
</button> </div>

<p>
  Several ways to configure resolving injecting dependencies in Angular:
</p>
<ul>
  <li>Inject a (singleton) instance of a class (as we've seen)</li>
  <li>Inject a value</li>
  <li>Call any function and inject the return value of that function</li>
  </ul>